* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    background-repeat:no-repeat ;
    background-color:  hsl(185, 75%, 39%);
   
    
}

section {
    width:20%;
    height: 20%;
    background-color: white;
    /* border: 1px solid white; */
    border-radius:9px ;
    /* margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px; */
    margin: auto;
    margin-top: 10%;
    position: relative;
}

.background {

   width: 270px;
   height: 25%;
   border:1px solid white ;
   border-radius: 9px;
}

.personal {
    position: absolute;
    right: 44%;
    left: 42%;
    top:42%;
    border: 5px solid white;
    border-radius: 70px;
}

h1 {
    font-size: 15pt;
    margin-left:auto ;
    margin-right: auto;
}

span {
    font-size:15pt ;
    color:  hsl(0, 0%, 59%);
    margin-left:5px ;
    /* margin-right: auto; */
}

font {
    font-size: medium;
    color:  hsl(0, 0%, 59%);
}

h6 {
    font-size: small;
    color:  hsl(0, 0%, 59%);
}

.flex {
    display: flex;
    gap:60px
    
}

.flex2 {
    display: flex;
    gap:60px;
}

.textalign {
    text-align: center;
}

.justfy {
    justify-content: space-between;
    padding-left: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    border: 1px solid;
    color:  hsl(0, 0%, 59%);
}

.relative {
    position: relative;
}

.absoluot {
    position: absolute;
    top:0%;
    left: 0%;
}

.bottom {
    position: absolute;
    bottom: 0%;
    right: 0%;
}